<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>JS-jargon</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-checkbox #showDetails [checked]="isChecked" (change)="onChange()" >Check me!</mat-checkbox>
<div *ngIf="showDetails.checked">Some details</div>
<input type="text" [value]="test">
mat-radio-group>mat-radio-button*2

<main>
  <mat-card *ngFor="let item of items">
    <mat-card-header>
     <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     {{item.description}}
    </mat-card-content>
    <mat-card-actions>
     <a mat-raised-button href="{{item.url}}" color="primary">More</a>
    </mat-card-actions>
  </mat-card>
</main>



